body {
    font-family: Arial, sans-serif;
    background-color: #afa9ad;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: 50px auto;
}

h1 {
    text-align: center;
}

input[type=text], input[type=password], input[type=email], input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

button[type=submit] {
    background-color: #4CAF50;
    color: #fff;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

button[type=submit]:hover {
    background-color: #45a049;
}

.container {
    padding: 16px;
}